[submodule "sectran_chard"]
	path = sectran_chard
	url = git@github.com:Sectran/sectran_chard.git
[submodule "sectran_terminal"]
	path = sectran_terminal
	url = git@github.com:Sectran/sectran_terminal.git
