.flex-space-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icon {
    font-size: 25px;
}

.tablePage-style {
    background: #ffffff;
    border-radius: 20px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .table-nav {
        margin-bottom: 20px;
    }
    .table-style {
        flex: 1;
    }
}